.gray-square {
  width: 60%;
  height: auto;
  background-color: #32363D;
  margin-left: 20%;
  z-index: -2;
  position:center;

}
.chestii {
  margin-left: 3%;
  width: 70%;
    background-color: rgba(15, 31, 85, 1);
    z-index: -1;
    border-radius: 55px;
    height: auto;
  }

  .chestii2 {
    margin-left: 3%;
    width: 90%;
    background-color:#607E96;
    margin-top: 50px;
    z-index: -1;
    border-radius: 25px;
    height:auto;       
    }


.long-paragraph {
  font-size: 25px;
  line-height: 1.5;
  text-align: justify;
  margin: 0 auto;;
  max-width:auto;
  padding: 16px;
  box-sizing: border-box;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1;
}

.mare{
  font-size: 33px;
  line-height: 1;
  text-align: justify;
  margin: 0 auto;;
  max-width:auto;
  padding: 16px;
  box-sizing: border-box;
  color:white
}


  .p1{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:right;
    height: 330px; 
    width:auto;
    float: right;
  }


  @media only screen and (max-width: 600px) {

    .gray-square {
      width: 100%;
      margin-left:0%;
    }
    .chestii, .chestii2 {
      position:left;
      width:75%;
  }
    .p1{
      display: none;
    }
    .chestii2{
      top:auto
    }
  }
  