body {
  margin: 0;
  padding: 0;
}

.top-line {
  background-color: black;
  height: 5px;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}