body {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 3px;
  background: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}