*{
  margin: 0;
}
.top-line {
      background-color: black;
      height: 80px;
      display: flex;  

      position: fixed;
      top: 0;
      width: 100%;
  }
  .logo {
    transform: scale(0.45);
    position:fixed;
    right: 50px;
  }



.menu {
  position: fixed;
  top: 80px;
  left: 0;
  background-color:#313338;
  width: 25%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: -1;
  width: 270px;
  background:#11101d;
  display: block;
  overflow-y: scroll; 
  
}
  
  #language-selector {
    background-color: #000000;
    color: #607E96;
    font-size: 16px;
    border-radius: 3px;
    padding: 2px;
    display: inline-block;
    position: fixed;
    top: 22px;
    right: 120px;
    cursor: pointer;
    border: 0px;
    font-size: 30px;
  }


  .menu {
    /* Same styles as before... */
    display: none;
  }
  
  .menu.show {
    display: block;
  }



.menu a {
  color: #fff;
  text-decoration: none;
}


.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  font-family:"Britannic Bold";
  font-size: 22px;

}

.submenu-item {
  left: 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family:"Lucida Console";
}



.menu {
  /* Same styles as before... */
  display: none;
}

.menu.show {
  display: block;
}


.textbox {
  position: fixed;
  bottom: 60px;
  left: 50%;  
  transform: translateX(-50%);
  padding: 10px 15px; 
  border-radius: 0px;
  z-index: 100;
  font-weight: 900;
  font-size:110px;
  z-index: -3;
  font-size: 120px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #607e96;
  font-family: Impact, Charcoal, sans-serif;
  text-shadow: 44px 24px 34px #b51717;
                
}


.textbox-text  {
  font-family: 'League Spartan';
  color: #851e1e;
  text-align: center;
}
.epoca-text{
  font-family: 'League Spartan';
  color:#607E96;
  text-decoration: none;
}


.epoca{
  color: #607E96;
  cursor: pointer;
  position: fixed; 
  left: 100px;
  top: 10px;
  font-family: "ghetto";
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
a:visited, a:hover, a:active {
  color: transparent;
}

::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .epoca-text {
    display: none;
  }
  .textbox{
    font-size: 80px;
  }
  
}



nav {
  top: 0;
  left: 0;
  position: fixed;
  top:80px;
  height: 100%;
  width: 0px;
  background-color: #11101D;
  transition: 0.8s;
  } 

.side-list {
  position: absolute;
  display: block;
  width: 80%;
  padding: -0px 0px 150px 0px;
}

.side-item {
  list-style: попе;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom-color: #580000;
  text-align: left;
  margin-left: -20px;
  }

.side-item:hover {
  background-color: #222428;
  }

 .side-item a {
   color: #607e96;
   line-height: 50px;
   font-family: sans-serif;
   font-size: 24px;
   text-decoration: none;
   cursor: pointer;
  }

  .sub-menu:before {
    content: '➤';
    font-family:Luminari, fantasy;
    position: absolute;
    line-height: 50px;
    color: #ffffff;
    left: 90%;
    
  }

  .sub-menu.active:before{
    content: '➥';
  }

  .side-item ul {
    position: relative;
    background-color: #313338;
    box-sizing: border-box;
    display:none;
  }

.sub-menu.active ul {
  display:block;
}

  .side-item ul li {
    list-style: none;
    text-decoration: none;
  }


  .toggle-menu {
    background-color: rgb(0, 0, 0);
    color: #607E96;
    padding: 2px 6px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 40px; 
    position: absolute; 
    left: 23px;
    top: 10px;
    
}

nav.active{
  width:300px;
}

.sidebar-content{
  display:none;
}
nav.active .sidebar-content{
  display:block;
  animation-name: fadeIn;
  animation-duration: 3s;
}




